
{% extends 'base.html' %}

{% block content%}
<script>
        function formSubmit(status) {
            $("#id_status").val(status)
            $("#form").submit();
        }
    </script>
<div class="container p-3">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="row w-100">
                <div class="form-group w-100">
                    <div class="col-sm-2 mb-2 text-right float-left">{{field.label}}</div>
                    <div class="col-sm-10 float-right">
                        {{field}}
                        {% for error in field.errors %}
                            <div class="text-danger">{{error}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
                    
                    <button type="submit" class="btn btn-success" onclick="formSubmit(0)">Save</button>
                    
                    
                    <button type="submit" class="btn btn-success" onclick="formSubmit(1)">Submit</button>
                    
                </form>
            </div>
            
            {% endblock %}