<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  


</head>
<body>


<div>

        <div class="container-fluid">
            {% if messages %}
            <div class="row">
                <h2>{{messages}}</h2>
            </div>
            {% else %}
   
             <div class="row">
   
   
               <div class="col-sm-12">
                   <h2>Prioritized List of Candidates</h2>
                       <p>Filter list by any parameter</p>
               <input class="form-control" id="myInput" type="text" placeholder="Search..">
               <br>
               </div>
             </div>
   
   
   
   
               <div class="col-sm-10">
                  <table class="table table-bordered">
                       <thead class="table-primary" style="background-color:#a2afc8">
                           <tr>
                               <th>Serial No.</th>
                               <th>Resume ID</th>
                               <th>Job_ID</th>
                               <th>Name</th>
                               <th>Score</th>
                               <th>CV</th>
                           </tr>
               </thead>
               <tbody id="myTable">
               {% for li in main_list %}
               <tr>
               <td>{{ forloop.counter }}</td>
               <td>{{ li.candidateid.id }}</td>
               <td>{{ li.jobid.id }}</td>
               <td>{{li.candidateid.name}}</td>
               <td>{{li.score}}</td>
               <td><a href="{{li.candidateid.cv_path.url}}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></td>
{#               <td><a href="{{li.cv_path}}" target="_blank">{{li.cv_path}}</a></td>#}
               </tr>
               {% endfor %}
           </tbody>
           </table>
               </div>
               </div>
             </div>
   
   
   
               <div class="container-fluid">
                   <ul class="pagination justify-content-center">
                   <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                   <li class="page-item"><a class="page-link" href="#">1</a></li>
                   <li class="page-item"><a class="page-link" href="#">2</a></li>
                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                   <li class="page-item"><a class="page-link" href="#">Next</a></li>
                   </ul>
               </div>
     </div>
   
   
       <script>
                   $(document).ready(function(){
                   $("#myInput").on("keyup", function() {
                   var value = $(this).val().toLowerCase();
                   $("#myTable tr").filter(function() {
                   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                   });
                   });
                   });
           </script>
   
         </div>
   {% endif %}
     </div>
   <br><br>
   
   </div>

</body>
</html>