<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


</head>
<body>



<!-- All the <div> fileds are set to AUTO height. Once the the contents are filled the dimensions will adjust Automatically-->


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="background-color: #1b6d85">HEADER</div>
    </div>
    <br>
    <div class="row">
    <ul class="nav nav-pills nav-justified">

        <li class="active col-sm-6"><a data-toggle="pill" href="#home">Details</a></li>
    <li class="col-sm-5"><a data-toggle="pill" href="#menu1">Applications</a></li>
  </ul>
    </div>


    <br><br><br>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="container-fluid">
            <div class="row" style="border:solid;border-width:2px;">
                <div class="col-sm-3" style="background-color:#d0e9c6"><b>JOB TITLE</b></div>
                <div class="col-sm-9" style="background-color:#a6e1ec">{{job.title}}  </div>
            </div>
            <br><br>
        <div class="row" style="border:solid;border-width:2px;">
            <div class="col-sm-3" style="background-color:#d0e9c6"><b>RESPONSIBILITIES</b></div>
                <div class="col-sm-9" style="background-color: #a6e1ec">{{ job.responsibilities}}  </div>
            </div>
            <br><br>
            <div class="row" style="border:solid;border-width:2px;">
                <div class="col-sm-3" style="background-color:#d0e9c6"><b>QUALIFICATION</b></div>
                    <div class="col-sm-9" style="background-color: #a6e1ec">{{ job.qualification}}  </div>
                </div>
                <br><br>
        <div class="row" style="border:solid;border-width:2px;">
            <div class="col-sm-3" style="background-color:#d0e9c6"><b>Primary Skills</b></div>
           
                <div class="col-sm-4.5" style="background-color: #a6e1ec"> {% for t in Tag %}{{ t }}<nbsp><nbsp>
                {% endfor %}</div>
            </div>
        <div class="row" style="border-left: solid;border-right:solid;border-width:2px;">
            <div class="col-sm-3" style="background-color:#d0e9c6"><b>Secondary Skills</b></div>
                <div class="col-sm-9" style="background-color: #a6e1ec">{{ job.secondary_skills}}</div>
            </div>
            <div class="row" style="border:solid;border-width:2px;">
                <div class="col-sm-3" style="background-color:#d0e9c6"><b>Tertiary Skills</b></div>
                <div class="col-sm-9" style="background-color: #a6e1ec">{{job.tertiary_skills}}</div>
            </div>
        <br><br>
            <div class="row" style="border:solid;border-width:2px;">
                <div class="col-sm-3" style="background-color:#d0e9c6"><b>EXPERIENCE</b></div>
                <div class="col-sm-9" style="background-color: #a6e1ec">{{ job.overall_experience }}</div>
            </div>

            <br>
            <div class="row">
            <div class="col-sm-6"></div>
            {% if access == "Hiring Manager" and job.status == 0 %}          
            <div class="col-sm-2">
                <div class="container-fluid">
               <a href='{% url 'edit_jd' job.id %}'><button type="button"  class="btn btn-primary btn-block">Edit</button></a>
                </div>
            </div>       
            {% elif access == "Hiring Manager" and job.status == 2 %} 
            <div class="col-sm-2">
                <div class="container-fluid">
                <button type="button"  class="btn btn-primary btn-block">Correct JD</button>
                </div></div>  
            {% elif access == "Recruiter" and job.status == 1 %}
            <div class="col-sm-2">
                    <div class="container-fluid">
                        <a href='{% url 'review_jd' job.id %}'><button type="button"  class="btn btn-primary btn-block">Send Back</button></a>
                    </div></div> 
             <div class="col-sm-2">
                <div class="container-fluid">
                    <a href='{% url 'publish_jd' job.id %}'><button type="button"  class="btn btn-primary btn-block">Publish</button></a>
            </div></div> 
            {% elif access == "Hiring Manager" and job.status == 3 %}
            <div class="col-sm-2">
                    <div class="container-fluid">
                    <button type="button"  class="btn btn-primary btn-block">Delete</button>
                    </div></div> 
            
            {% else %}
            {% endif %}
            </div>
        </div>
    </div>




      <div id="menu1" class="tab-pane fade">

     <div class="container-fluid">

          <div class="row">


            <div class="col-sm-12">
                <h2>Prioritized List of Candidates</h2>
                    <p>Filter list by any parameter</p>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            </div>
          </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="well">
                        <article class="list-group-item">
{#                            <header class="">#}
                                <h3 class="title"><b>Filters</b> </h3>
{#                            </header>#}
                            <div class="filter-content">
{#                                <div class="card-body">#}
                                    <label class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                        Score
                                        </span>
                                    </label>
                                   <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                            Pincode
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                            Phone
                                        </span>
                                    </label>
{#                                </div>#}
                            </div>
                        </article> <!-- card-group-item.// -->
                    </div>
                </div> <!-- card.// -->



            <div class="col-sm-10">
               <table class="table table-bordered">
                    <thead class="table-primary" style="background-color:#a2afc8">
                        <tr>
                            <th>Serial No.</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Pincode</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th  class="table-danger">Score</th>
                        </tr>
            </thead>
            <tbody id="myTable">
            <tr>
            <td>1</td>
            <td>Jed</td>
            <td>New York</td>
            <td>12201212</td>
            <td>9867120012</td>
            <td>jed@gmail.com</td>
                <td>92</td>

            </tr>
            <tr>
            <td>2</td>
            <td>Moe</td>
            <td>Thailand</td>
            <td>1212022</td>
            <td>98810212332</td>
            <td>Moe@gmail.com</td>
                <td>86</td>


            </tr>
            <tr>
            <td>3</td>
            <td>Joi</td>
            <td>Paris</td>
            <td>1212022</td>
            <td>98810212332</td>
            <td>joi@gmail.com</td>
            <td>82</td>

            </tr>
                <tr>
            <td>4</td>
            <td>Jess</td>
            <td>Thailand</td>
            <td>1212022</td>
            <td>9000212332</td>
            <td>Jess@gmail.com</td>
            <td>72</td>

            </tr>
        </tbody>
        </table>
            </div>
            </div>
          </div>



            <div class="container-fluid">
                <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
  </div>


    <script>
                $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
                });
                });
        </script>

      </div>

  </div>
<br><br>

</div>

</body>
</html>